{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{@blog.description}}</h2>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>This is my digital hub</h2>
            <p>Stories. Media. Tweets. Resume. All here.</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-comments"></i>
                <p>Talk with me. Don't email. Email is a tool that needs to die. It's only purpose in my life is authentication. Use my email address to find me on iMessage. </p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-user"></i>
                <p>I value my newtork. I defy geography and boundaries with my few good friends.</p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>Deliverables</h2>
            <p>Recently written essays, matured thoughts, and accomplishments all mixed up with some creativity.</p>
        </header>
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div>
    </div>
</section>
